body {
    background-color: rgb(220, 231, 238);
    display: flex;
    flex-direction: column;


}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    height: 75px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

.container-header {
    background-image: url(cpimages/tony-image2.jpg);
    height: 800px;
    width:auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    }
    
    .title {

        font-size: 75px;
        color: hotpink;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .websubtitle {
        font-size: 40px;
    }
    
.search {
    position: relative;
    width: 200px;
    padding-top: 3px;
}


.mid-container {
    height: 500px;
    width: 60%;
    text-align: center;
    padding: 8px;
    padding-bottom: 100px;
}



  /* Merchant Page CSS */

