h1 {
    text-decoration: underline;
}
body {
    box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box
}

.jesus {
    margin-left: 20px;
    padding: 10px;    
}
img {
    border: 5px solid #555;
  }
