body {
    background-color: rgb(220, 231, 238);
}

.container-header {
    background-image: url(cpimages/tony-image2.jpg);
    height: 600px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .title {
        border-style: solid;
        border-color: black;
        font-size: 75px;
        color: hotpink;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .websubtitle {
        font-size: 40px;
    }
    
.search {
    position: relative;
    display: flex;
    min-width: 100px;
    padding-top: 3px;
}

.mid-container {
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: space-between;
    padding: 8px;
    flex-direction: row;
}

.mid {
    border: 2px solid black;
}

a {
    color: black;
    padding: 2px;
}


.jesus {
    margin-left: 20px;
    padding: 10px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}
img {
    border: 5px solid #555;
  }

  footer {
      height: 75px;
      background-color: lightgray;
      color: black;
      display: flex;
      justify-content: space-between;
  }

  .footerlinks {
      padding: 3px;
  }
